<!--
Author: Luis René López
Website: https://github.com/luislopez-dev
Description: Open source project: Enterprise-.Net-Architecture-Template
-->

@model Domain.Entities.Invoice

@{
    ViewBag.Title = "Crear Factura";
    Layout = "_Layout";
}

@if (ViewBag.products != null && ViewBag.products.Count > 0)
{
    <h1>Crear factura</h1>
    <div>
        <form asp-controller="Invoices" asp-action="Create" method="POST">
            <div class="mb-3">
                <label asp-for="ClientName" class="form-label">Nombre del cliente</label>
                <input required minlength="5" maxlength="70" type="text" asp-for="ClientName" class="form-control" aria-describedby="name">
                <span asp-validation-for="ClientName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ClientAddress" class="form-label">Dirección de envio</label>
                <input required minlength="10" maxlength="400" type="text" asp-for="ClientAddress" class="form-control">
                <span asp-validation-for="ClientAddress" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ClientNit" class="form-label">NIT del cliente</label>
                <input required type="text" asp-for="ClientNit" class="form-control" pattern=".{8}" title="El NIT debe conformarse por 8 números">
                <span asp-validation-for="ClientNit" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PaymentMethod" class="form-label">Seleccione el método de pago</label>
                <select required asp-for="PaymentMethod" class="form-select">
                    <option value="Credit card">Tarjeta de débito</option>
                    <option value="Debit card">Tarjeta de crédito</option>
                    <option value="Cash">Efectivo</option>
                </select>
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Seleccione uno o más productos</label>
                <select required name="selectedProducts[]" class="form-select" size="5" multiple aria-label="Multiple select example">
                    @foreach (var product in ViewBag.products)
                    {
                        <option value="@product.Id">@product.Name</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
}
else
{
    <div class="alert alert-info">
        ¡Deben haber productos registrados para poder crear facturas!
    </div>
}