@page
@model Presentation.Views.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Domain</a>.</p>
</div>

<!--
Author: Luis René López
Website: https://github.com/luislopez-dev
Description: Open source project: Enterprise-.Net-Architecture-Template
-->
